<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.emos.api.db.dao.ActionMapper">
    <resultMap id="BaseResultMap" type="com.mumu.emos.api.db.pojo.Action">
        <!--@mbg.generated-->
        <!--@Table tb_action-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="action_code" jdbcType="VARCHAR" property="actionCode"/>
        <result column="action_name" jdbcType="VARCHAR" property="actionName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, action_code, action_name
    </sql>
</mapper>