<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.emos.api.db.dao.AmectTypeMapper">
    <resultMap id="BaseResultMap" type="com.mumu.emos.api.db.pojo.AmectType">
        <!--@mbg.generated-->
        <!--@Table tb_amect_type-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="systemic" jdbcType="BOOLEAN" property="systemic"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, money, systemic
    </sql>
</mapper>