<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.emos.api.db.dao.AmectTypeMapper">
    <select id="searchAllAmectType" resultType="com.mumu.emos.api.db.pojo.AmectType">
        SELECT id,
               type,
               money,
               systemic
        FROM tb_amect_type
    </select>
</mapper>