<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.emos.api.db.dao.FaceModelMapper">
    <resultMap id="BaseResultMap" type="com.mumu.emos.api.db.pojo.FaceModel">
        <!--@mbg.generated-->
        <!--@Table tb_face_model-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="face_model" jdbcType="LONGVARCHAR" property="faceModel"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, face_model
    </sql>
</mapper>