<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.emos.api.db.dao.MeetingRoomMapper">
    <resultMap id="BaseResultMap" type="com.mumu.emos.api.db.pojo.MeetingRoom">
        <!--@mbg.generated-->
        <!--@Table tb_meeting_room-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="max" jdbcType="SMALLINT" property="max"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, `max`, `desc`, `status`
    </sql>
</mapper>