<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.emos.api.db.dao.ModuleMapper">
    <resultMap id="BaseResultMap" type="com.mumu.emos.api.db.pojo.Module">
        <!--@mbg.generated-->
        <!--@Table tb_module-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="module_code" jdbcType="VARCHAR" property="moduleCode"/>
        <result column="module_name" jdbcType="VARCHAR" property="moduleName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, module_code, module_name
    </sql>
</mapper>